body{
    background-color:#1D4221;
    color:white;
    font-family:"Bai Janjuree",sans-serif;
    display:flex;
    justify-content: center;
    align-intems:center;
    height: 700px;
    































